@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

/** {
  box-sizing: border-box;
  text-align: center;
}*/

a.anchor {
  display: block;
  position: relative;
  top: -35px;
  visibility: hidden;
}

.bg-color {
  background-color: rgb(223, 223, 223);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  position: relative;
  display: flex;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://dl.dropbox.com/s/wpa6mxke0gab5en/thumb-1920-297030.jpg);
  background-size: cover;
  height: 100vh;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  white-space: nowrap;
}
h2 {
  font-size: 2rem;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: verticlel;
}

input[type=submit] {
  background-color: darkcyan;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input#contact-name {
  width: 45%;
  float: left;
}

input#contact-email {
  width: 45%;
  float: right;
}

main {
  max-width: 500px;
  margin: 20px auto;
}

p {
  font-size: 1.3rem;
}

.project-media {
  padding: 30px 15px 0;
  height: 550px;
  width: 100%;
  background-color: rgb(200, 200, 200);
}

.section {
  display: inline-block;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 15px;
}

.sm {
  margin: 1rem .5rem;
  display: inline-block;
  font-size: 25px;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: block;
}

#project-layout {
  columns: 2;
}

#skill-layout {
  columns: 3;
}

@media only screen and (max-width: 768px) {
  #skill-layout {
    columns: 2;
  }

  #project-layout {
    columns: 1;
  }

  input#contact-name {
    width: 100%;
  }

  input#contact-email {
    width: 100%;
  }
}
