@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

* {
  margin: 0;
  padding: 0;
}

a.anchor {
  display: block;
  position: relative;
  top: -35px;
  visibility: hidden;
}

.bg-color {
  background-color: rgb(223, 223, 223);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  text-align: center;
}

section {
  display: inline-block;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 15px;
  overflow: auto;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://dl.dropbox.com/s/wpa6mxke0gab5en/thumb-1920-297030.jpg);
  background-size: cover;
  height: 100vh;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  left: 0;
  bottom: 0;
  height: 105px;
  width: 100%;
  position: relative;
  display: block;
}

.sm {
  margin: 1rem .5rem;
  display: inline-block;
  font-size: 30px;
  padding: 0px 7px;
}

.navbar-header {
  margin-left: 0 !important;
}

#skill-layout {
  columns: 2;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: verticlel;
}

input[type=submit] {
  background-color: darkcyan;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 3px #888888;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.project-1, .project-2, project-3 {
  padding-bottom: 25px;
}

.project-1 {
  padding-top: 20px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

hr.break {
  margin-top: 0px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid lightgray;
  width: 200px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.project-left, .project-right {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.project-media {
  display: block;
  max-width: 100%;
  max-height: auto;
}

h1, h2 {
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  padding-top: 20px;
  line-height: 1.4;
}

ul {
  list-style-type: none;
  padding: 0;
  display: block;
}

@media screen and (min-width: 768px) {

  section {
    padding-left: 25%;
    padding-right: 25%;
  }
  .project-1, .project-2, project-3 {
    padding: 20px 0;
  }

  .project-left {
    float: left;
    width: 50%;
  }

  .project-right {
    float: right;
    width: 50%;
  }

  .container {
    width: 750px;
  }

  #skill-layout {
    columns: 3;
  }

  .navbar-header {
    margin-left: -20% !important;
  }
}
